/* здесь используйте глобальные переменные */
$font-size: 14px;
$line-height: 18px;
$base-color-text: #444444;
$secondary-color: #000000;
$thirdy-color: #ffffff;
$base-background-color: #f2f2f2;
$secondary-background-color: rgba(104, 183, 56, 0.85);