.advantages__wrapper {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 69px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 72px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 347px 293px;
    gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 75px;
  }
}

.advantages__item {
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $secondary-background-color;

    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    width: 249px;
    height: 280px;

    &::before {
      position: inherit;
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    height: 280px;
    margin: 0 auto;
  }
}

  .advantages__item--base {
    &::after {
      content: "";
      width: 30px;
      height: 32px;
      background-image: url("../../images/icons/stack.svg#leaf-mobile");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      top: 14px;
      left: 15px;
      flex-shrink: 0;
    }
  }

  .advantages__item--cook {
    &::after {
      content: "";
      width: 26px;
      height: 29px;
      background-image: url("../../images/icons/stack.svg#cook-mobile");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      top: 15px;
      left: 17px;
      flex-shrink: 0;
    }
  }

  .advantages__item--eat {
    &::after {
      content: "";
      width: 25px;
      height: 30px;
      background-image: url("../../images/icons/stack.svg#eat-mobile");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      top: 15px;
      left: 17px;
      flex-shrink: 0;
    }
  }

  .advantages__item--time {
    &::after {
      content: "";
      width: 27px;
      height: 31px;
      background-image: url("../../images/icons/stack.svg#time-mobile");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      top: 15px;
      left: 17px;
      flex-shrink: 0;
    }
  }

  .advantages__description {
    width: 200px;
    margin: 0;
    margin-left: 80px;

    @media (min-width: $tablet-width) {
      width: 245px;
      margin: 0;
      font-size: 16px;
      line-height: 24px;
    }
  }
