.article__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $secondary-color;
}

.article__wrapper--slim {
  width: 36px;
  height: 50px;
  background-image: url("../../images/icons/stack.svg#cat-slim");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.article__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
}
