.catalog__title {
  @include form-text($secondary-font, #111111, 16px);
  line-height: 20px;
}

.catalog__text {
  font-size: 12px;
  line-height: 16px;
}

.catalog__button--secondary {
  color: $base-color-text;
  background-color: $base-background-color;
}