.catalog-link {
  text-decoration: none;
}

.catalog-link-picture {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }
}

.catalog-link__title {
  @include form-text($secondary-font, #222222, 16px);
  line-height: 20px;
  margin: 0;
  margin-bottom: 14px;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center ;
    margin: 0;
  }
}
