.field-group {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 13px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
