.gift {
  height: 290px;
  margin-top: 54px;
  margin-bottom: 35px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../images/gift/gift-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    margin-top: 68px;
    margin-bottom: 75px;

    &::after {
      height: 200px;
    }

    &::before {
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    margin: 116px 0 0 0;

    &::after {
      height: 288px;
    }

    &::before {
      height: 288px;
    }
  }
}

.gift__wrapper {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.gift__description {
  width: 161px;
  margin-bottom: 43px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $thirdy-color;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#gift-mobile");
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    bottom: 110px;
    left: 41px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 57px  125px 60px 77px;
    text-align: left;

    &::before {
      position: relative;
      width: 80px;
      height: 83px;
      bottom: auto;
      left: auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 56px 42px 43px;
    text-align: center;

    &::before {
      position: absolute;
      bottom: 149px;
      left: 82px;
    }
  }
}

.gift__text {
  @media (min-width: $tablet-width) {
    max-width: 161px;
    padding-top: 14px;
  }
}
