.hero__description {
  font-family: $secondary-font;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $thirdy-color;
  background-color: $secondary-background-color;
}
