.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    gap: 13px;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
      width: 202px;
      gap: 14px;
      padding-top: 58px;
  }
}
