.main-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1220px;
    height: 114px;
    z-index: 5;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-header__toggle {
  width: 25px;
  height: 24px;
  background-image: url("../../images/icons/stack.svg#burger-mobile");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
