.main-container__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $thirdy-color;
  position: relative;
  z-index: 2;
}

.main-container {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 302px;
    background-image: url("../../images/hero/background-cat-mobile@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .main-container {
    &::after {
      display: none;
      }
    }

    .main-container{
      &::before {
        background-color: $thirdy-color;
      }
    }
  }
