.main-container__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $thirdy-color;
  background-color: $secondary-background-color;
}

.main-container__title--catalog {
  color: $secondary-color;
  background-color: #ffffff;
}
