.main-nav {
  position: relative;
  @media (min-width: $tablet-width) {
    width: 439px;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
  }

  &--opened {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
    background-color: $thirdy-color;
    z-index: 2;

    @media (min-width: $tablet-width) {
      display: block;
      position: initial;
      background-color: transparent;
    }
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
