.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  margin: 0 auto;
  background-color: #666666;

  &--vkontakte {
    mask-image: url("../../images/icons/stack.svg#vkontakte");
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#youtube");
  }

  &--telegram {
    mask-image: url("../../images/icons/stack.svg#telegram");
  }

  &:hover {
    background-color: #68B738;
    opacity: 1;
  }

  &:focus {
    background-color: #68B738;
    opacity: 1;
  }

  &:active {
    background-color: #68B738;
    opacity: 0.3;
  }
}
